* {
  box-sizing: border-box;
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HEADER STYLE START*/

h1 {
  font-size: 4rem;
}

/* The list span and daily goals header are within a div for even space, so their div uses flex box as well so the header text and list amoji are side by side */

header, header > div, .singleGoalsContainer, .singleGoalEmojiContainer {
  display: flex;
  flex-direction: row;
}

/* This determines the space between the DailyGoals header and the list emoji, and the refresh emoji */

header {
 justify-content: space-between;
 width: 100%;
}

.pageEndPadding {
  padding-right: 10%;
}

header, header > div {
  align-items: center;
}

.emoji {
  font-size: 4rem;
}

/* HEADER STYLE END */

/* DAILY GOALS BODY */

input, button, .goalText {
  font-size: 2.7rem;
}

.singleGoalsContainer {
  align-items: center;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
}
/* DAILY GOALS BODY */