* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  max-width: 160rem;
}

.App {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
}

/* HEADER STYLE START*/

h1, h2 {
  font-size: 4rem;
}

/* The list span and daily goals header are within a div for even space, so their div uses flex box as well so the header text and list amoji are side by side */

header, header > div, .singleGoalsContainer, .singleGoalEmojiContainer, .singleSuccessContainer {
  display: flex;
  flex-direction: row;
}

/* This determines the space between the DailyGoals header and the list emoji, and the refresh emoji */

header {
 justify-content: space-between;
 width: 100%;
}

.pageEndPadding {
  padding-right: 10%;
}

header, header > div {
  align-items: center;
}

.emoji {
  font-size: 4rem;
}

/* HEADER STYLE END */

/* DAILY GOALS BODY */

input, button, .goalText, .successText {
  font-size: 2.7rem;
}

button {
  background-color: rgba(0,0,0);
  color: rgba(255,255,255,.9);
  font-weight: 700;
}

button:hover {
  filter: brightness(.9);
}

.singleGoalsContainer,.singleSuccessContainer {
  align-items: center;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
}

section div {
  margin-bottom: .5%;
}
/* DAILY GOALS BODY */

/* DAILY WINS HEADER */

span[role="button"]:hover {
  opacity: .7;
}

/* DAILY WINS HEADER */

/* DAILY WINS BODY */

.singleSuccessContainer button {
  margin-right: 10%;
  text-align: center;
  width: .85rem;
  min-width: .85rem;
}

/* DAILY WINS BODY */

/* DAILY GOALS FOOTER */
span, a {
  font-size: 1.2rem;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: rgb(43, 43, 245);
}
a:hover {
  color: rgb(0, 0, 163);
}
footer {
  margin-top: 1%;
  margin-bottom: 5%;
  border-top: 2px solid black;
  width: 90%;
  padding-top: 1%;
}
/* DAILY GOALS FOOTER */

/*MEDIA QUERIES*/

@media screen and (min-width: 1600px) {
  .App {
    padding-left: 0;
  }
  body {
    margin: 0 auto;
  }
}

@media screen and (max-width: 700px) {
  .App {
    padding-left: 10%;
  }
}

@media screen and (max-width: 550px) {
  input, button, .goalText, .successText {
    font-size: 2.2rem;
  }
  h1, h2, .emoji {
    font-size: 3.5rem;
  }
  span, a {
    font-size: .9rem;
  }
}

@media screen and (max-width: 450px) {
  input, button, .goalText, .successText {
    font-size: 1.7rem;
  }
  h1, h2, .emoji {
    font-size: 3rem;
  }
}

@media screen and (max-width: 350px) {
  input, button, .goalText, .successText {
    font-size: 1.2rem;
  }
  h1, h2, .emoji {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 255px) {
  input, button, .goalText, .successText {
    font-size: .7rem;
  }
  h1, h2, .emoji {
    font-size: 2rem;
  }
}